{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h3>Préstamos</h3>

    <form method="post" action="/prestamos/agregar">
        <div class="form-group">
            <label for="id_libro">Libro</label>
            <select class="form-control" id="id_libro" name="id_libro" required>
                {% for libroId, libroName in libros %}
                <option value="{{ libroId }}">{{ libroName }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="id_usuario">Nombre del Prestatario</label>
            <select class="form-control" id="id_usuario" name="id_usuario" required>
                {% for usuarioId, usuName in usuarios %}
                <option value="{{ usuarioId }}">{{ usuName }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="fecha_prestamo">Fecha de Préstamo</label>
            <input type="date" class="form-control" id="fecha_prestamo" name="fecha_prestamo" required>
        </div>
        <button type="submit" class="btn btn-primary">Agregar Préstamo</button>
    </form>

    <h3 class="mt-5">Listado de Préstamos</h3>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Libro</th>
                <th>Prestatario</th>
                <th>Fecha de Préstamo</th>
                <th>Fecha de Devolución</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for prestamo in prestamos %}
            <tr>
                <td>{{ prestamo[0] }}</td>
                <td>{{ prestamo[1] }}</td>
                <td>{{ prestamo[2] }}</td>
                <td>{{ prestamo[3] }}</td>
                <td>{{ prestamo[4] }}</td>
                <td>
                    <a href="{{ url_for('edit_pres', id=prestamo[0]) }}" class="btn btn-info">Editar</a>
                    <form action="{{ url_for('delete_pres', id=prestamo[0]) }}" method="post" style="display:inline-block;">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
