{% extends 'layout.html' %}

{% block content %}
<div class="mt-4">
    <h2>Editar Usuario</h2>
    <form method="post">
        <div class="form-group">
            <label for="apellido">Apellidos</label>
            <input type="text" class="form-control" id="apellido" name="apellido" value="{{ user[1] }}" required>
        </div>
        <div class="form-group">
            <label for="nombre">Nombres</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ user[2] }}" required>
        </div>
        <div class="form-group">
            <label for="correo">Correo</label>
            <input type="text" class="form-control" id="correo" name="correo" value="{{ user[3] }}" required>
        </div>
        <div class="form-group">
            <label for="fono">Teléfono</label>
            <input type="text" class="form-control" id="fono" name="fono" value="{{ user[4] }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Editar Usuario</button>
    </form>
</div>
{% endblock %}
